doctype html
html
    head
        meta(charset='UTF-8')
        title=title
        link(rel="stylesheet", href="/css/main.css")
    body
        h1(id="header")=mensaje
        div
            h2=texto
            p=parrafo
        h1 For each
        - const names = ["DOM", "SOP", "MARK"]
        each n,i in names
            p=n+" - "+i
        - const grades = {"Web Dev": 85, "Sofware Design":76}
        for n, i in grades
            p=i+ " - " +n
        else
            strong no values are here!
        - let user = {name: "Alex", loggedIn: false, lastLogin: 6}
        if user.loggedIn
            p
                | Welcome back, 
                strong #{user.name}
        else
            a(href="/login") Log in
        -const orderStatus = 'Pending'
        case orderStatus
            when 'Pending'
                p Ordenado
            when 'In_transit'
                p Nel
            default
                p Bug

